﻿@model DatingApp.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.Gender)
                <select id="GenderID" name="Gender" >
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Transgender">Transgender</option>
                  <option value="Non-Conforming">Non-Conforming</option>
                </select>
            </li>
            <li>
                @Html.LabelFor(m => m.Birthday)
                @Html.TextBoxFor(m => m.Birthday, "{0:mm/dd/yy}", new { @class="datepicker" })
                @Html.ValidationMessageFor(m => m.Birthday)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.City)
                @Html.EditorFor(m => m.City)
                @Html.ValidationMessageFor(m => m.City)
            </li>
            <li>
                @Html.LabelFor(m => m.Country)
                @Html.EditorFor(m => m.Country)
                @Html.ValidationMessageFor(m => m.Country)
            </li>
            <li>
                @Html.LabelFor(m => m.PostalCode)
                @Html.EditorFor(m => m.PostalCode)
                @Html.ValidationMessageFor(m => m.PostalCode)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/datepicker.js")
}
