﻿@model DatingApp.Models.UserProfile

@{
    ViewBag.Title = "SubscribeSuccess";
}

<h2>Subscribed Successfully!</h2>
<div>
    <p>Thank you for your subscription! Transaction details will be mailed to you via Paypal.</p>
</div>
@{ if(ViewBag.txID != null && ViewBag.txID != "")
   {
    <form method=post action="https://www.paypal.com/cgi-bin/webscr"> 
    <input type="hidden" name="cmd" value="_notify-synch"> 
    <input type="hidden" name="tx" value="@ViewBag.txID"> 
    <input type="hidden" name="at" value="YourIdentityToken_NeedToGetThis"> 
    <input type="submit" value="PDT"> 
    </form>//Do I need to make this autosubmit?
    }
    
    if(ViewBag.paypalReturned != null && ViewBag.paypalReturned != "")
    {
        char[] delimiterChars = { ' ', '\n', '\r', '\t' };
        string[] pairs = ViewBag.paypalReturned.Split(delimiterChars);
        
        foreach (string s in pairs)
        {
            int split = s.IndexOf('=');
            
         if(s.Contains("payment_gross"))
         {
             decimal amount = Convert.ToDecimal(s.Substring(split + 14)); 
             
             if(amount == 0.99M)
             {
                 Model.PaidUserLevel = 1;
                 <h3>Successfully set paid user level to 1.</h3>
             }
             if (amount == 2.99M)
             {
                 Model.PaidUserLevel = 2;
                 <h3>Successfully set paid user level to 2.</h3>
             }
             if (amount == 5.99M)
             {
                 Model.PaidUserLevel = 3;
                 <h3>Successfully set paid user level to 3.</h3>
             }
         }   
             
        }
    }
}
<div>
    <h3>@ViewBag.Message</h3>@*For testing purposes.*@
</div>