﻿@model DatingApp.Models.UserProfile

@{
    ViewBag.Title = "Subscribe";
}

<div class="paypalDiv">
    <p>
    ~ A level one subscription allows you to see the small skeletons of other users.<br />
    ~ A level two subscription allows you to see the small and medium skeletons of other users.<br />
    ~ A level three subscription allows you to see the small, medium and large skeletons of other users.<br />
    </p>
</div>
<div class="paypalDiv">

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="4ZDA72DGSTY3E">
<table>
<tr><th><input type="hidden" name="on0" value="Membership Options">Membership Options</th></tr><tr><td><select name="os0">
	<option value="Level One">Level One : $0.99 USD - monthly</option>
	<option value="Level Two">Level Two : $2.99 USD - monthly</option>
	<option value="Level Three">Level Three : $5.99 USD - monthly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" id="paypalBtn" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</div>
