﻿@model DatingApp.Models.Skeleton

<div id='dlgSkeletonDetails'>
    <fieldset>
        <legend>Skeleton</legend>
        <input type="hidden" value="@Html.DisplayFor(model => ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).SkeletonId)" name="SkeletonId" id="SkeletonId" />
        <div class="display-label">
             @Html.DisplayNameFor(model => ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).Genre)
        </div>
        <div class="display-field">
            @Html.TextBoxFor(model => ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).Genre)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).Level)
        </div>
        <div class="display-field">
            @Html.TextBoxFor(model => ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).Level)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).Story)
        </div>
        <div class="display-field">
            @Html.TextBoxFor(model => ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).Story)
        </div>

    </fieldset>
</div>

<script type="text/javascript">
    $(function () {
        $('div.ui-dialog-content').dialog('close'),
        $("#dlgSkeletonDetails").dialog({
            modal: true,
            autoOpen: true,
            resizable: true,
            title: '@Html.DisplayFor(model => ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).Genre)',
            height: 450,
            width: 550,
            buttons: {
                Approve: function () {
                    // perform login
                    $.post("@Url.Action("SkeletonApprove", "Administrator", new { id = ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).SkeletonId } )",
                    {
                        Genre: $('#Genre').val(),
                        Level: $('#Level').val(),
                        Story: $('#Story').val()
                    },
                    //Check to see if it worked
                    function (data, status, xhr) {
                        if (data.Success) { // If it worked
                            $('#dlgSkeletonDetails').dialog("close"); // Close popup dialog box
                            location.reload();
                        } else {
                            $('#dlgSkeletonDetails').dialog('option', 'title', 'Error: Approving Skeleton'); // change the title from Welcome to Error
                        }
                    });
                },
                Save: function () {
                    // perform login
                    $.post("@Url.Action("SkeletonSave", "Administrator", new { id = ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).SkeletonId } )",
				    {
				        Genre: $('#Genre').val(),
				        Level: $('#Level').val(),
				        Story: $('#Story').val()
				    },
                    //Check to see if it worked
				    function (data, status, xhr) {
				        if (data.Success) { // If it worked
				            $('#dlgSkeletonDetails').dialog("close"); // Close popup dialog box
				            location.reload();
				        } else {
				            $('#dlgSkeletonDetails').dialog('option', 'title', 'Error: Saving Skeleton'); // change the title from Welcome to Error
				        }
				    });
                },
                Delete: function OpenSkeletonDelete(SkeletonId) {
                    $('#divSkeletonDelete').load("@Url.Action("OpenSkeletonDelete", "Administrator")", { 'id': $('#SkeletonId').val() }); @*This allows javascript to pass a variable into the url*@
                },
                Cancel: function () {
                    $(this).dialog("close"); // Closes the window
                }
            },
            open: function (event, ui) {
                $('.ui-icon').removeClass('ui-icon'), @*This line removes the 'X' out of the login dialog Because the X doesn't appear in the box*@  
                
                $("#dlgSkeletonDetails").keypress(function (e) {@*This function allows users to press the 'Enter' Key and submit the login info *@
                    if (e.keyCode == $.ui.keyCode.ENTER) {
                        $(this).parent().find("button:eq(1)").trigger("click");@*eq(0)=Close button, eq(2)=cancel button *@
                    }
                });
            }
        });
    });
</script>