﻿@*Both the Create and Reply hit this*@
@model DatingApp.Models.Skeleton

<div id='dlgSkeletonDelete'>
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Skeleton</legend>
        <input type="hidden" value="@Html.DisplayFor(model => ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).SkeletonId)" name="SkeletonId" id="SkeletonId" />
        <div class="display-label">
             @Html.DisplayNameFor(model => ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).Genre)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).Genre)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).Story)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => ((DatingApp.Models.Skeleton)ViewData["Skeleton"]).Story)
        </div>
    </fieldset>
}
</div>
<script type="text/javascript">
    $(function () {
        $('div.ui-dialog-content').dialog('close'),
        $("#dlgSkeletonDelete").dialog({
            modal: true,
            autoOpen: true,
            resizable: false,
            title: "Are you sure you want to delete this Skeleton?",
            height: 450,
            width: 550,
            buttons: {
                Delete: function () {
                    // perform login
                    $.post("@Url.Action("SkeletonDelete","Administrator")",
				    {
				        Id: $('#SkeletonId').val(),
				    },
                    //Check to see if it worked
				    function( data, status, xhr ) {
                        if(data.Success){ // If it worked
                            $('#dlgSkeletonDelete').dialog("close"); // Close popup dialog box
                            alert('Skeleton Deleted!'); // Alert User that the Skeleton was sent
                            location.reload(); // Reload the page (this is to update the list of Skeletons)
                        } else {
                            $('#dlgSkeletonDelete').dialog('option', 'title', 'Error: Deleting Skeleton'); // change the title from Send Skeleton to Error
                        }
				    });
                },
                Cancel: function () {
                    $(this).dialog("close"); // Closes the window
                }
            },
            open: function (event, ui) {
                $('.ui-icon').removeClass('ui-icon'), @*This line removes the 'X' out of the login dialog Because the X doesn't appear in the box*@  
                
                $("#dlgSkeletonDelete").keypress(function (e) {@*This function allows users to press the 'Enter' Key and submit the login info *@
                    if (e.keyCode == $.ui.keyCode.ENTER) {
                        $(this).parent().find("button:eq(1)").trigger("click");@*eq(0)=Close button, eq(1)=Send button, eq(2)=cancel button *@
                    }
                });
            }
        });
    });
</script>