﻿@{
    ViewBag.Title = "Index";
}

<h2>Administration Controls</h2>
<div style="text-align: center;">
    <div style="width:255px; height:275px; float:left; padding:5px">
        <a href="@Url.Action("ModIndex","Administrator")">
            <img style="width:250px; height:250px;" src="~/Images/mod.png" />
            <h4>Moderator</h4>
        </a>
    </div>
    <div style="width:255px; height:275px; float:left; padding:5px">
        <a href="@Url.Action("SkeletonIndex","Administrator")">
            <img style="width:250px; height:250px;" src="~/Images/skeleton_large.png" />
            <h4>Skeletons</h4>
        </a>
    </div>
    <div style="width:255px; height:275px; float:left; padding:5px">
        <a href="@Url.Action("UserIndex","Administrator")">
            <img style="width:250px; height:250px;" src="~/Images/users.png" />
            <h4>Users</h4>
        </a>
    </div>
</div>
