﻿@model IEnumerable<DatingApp.Models.Skeleton>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @Html.ActionLink("Back to Administraton Home", "Index")
</div>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Story)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Level, new { @Value = item.Level,  style="width: 95%"})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre, new { @Value = item.Genre,  style="width: 95%"  })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Story, new { style="width: 95%"  })
        </td>
        <td>
            <a href="javascript:DetailsSkeletonDialog(@item.SkeletonId);">View</a> |
            <a href="javascript:DeleteSkeletonDialog(@item.SkeletonId);">Delete</a>
        </td>
    </tr>
}
</table>
<div id='divSkeletonDetails'>
    <script type="text/javascript">
        function DetailsSkeletonDialog(SkeletonId) {
            $('#divSkeletonDetails').load("@Url.Action("OpenSkeletonDetails", "Administrator")", { 'id': SkeletonId }); @*This allows javascript to pass a variable into the url*@
        }
    </script>
</div>
<div id='divSkeletonDelete'>
    <script type="text/javascript">
        function DeleteSkeletonDialog(SkeletonId) {
            $('#divSkeletonDelete').load("@Url.Action("OpenSkeletonDelete", "Administrator")", { 'id': SkeletonId }); @*This allows javascript to pass a variable into the url*@
        }
    </script>
</div>
