﻿@model  IEnumerable<DatingApp.Models.PeopleSearch>

@{
    ViewBag.Title = "UserManagment";
}

<h2>User Controls</h2>
<div>
    @Html.ActionLink("Back to Administraton Home", "Index")
</div>
<div>
    <table>
        <tr>
            @using (Html.BeginForm("UserIndex", "Administrator", FormMethod.Post, new { id = "UserForm" }))
        {  <td>
                <label  id="lblName">Search for Users</label></td>
                <td>@Html.TextBox("txtValue")</td>
                <td><input  id="btnSearch"  type="submit"  value="Search"  /></td>
        }
        </tr>
    </table>
</div>
<div>
    @if (ViewBag.Message ==  true)
    { 
        <label  id="lblMessage"  title="Please enter keyword"  style="color:red;">Please enter keyword...!</label>
    }
    
    else
    {
    if (@Model != null)
        {
        if (@Model.Count() != 0)
            {
            <table id="tblSearch">
                <tr>
                    <th>User Name</th>
                    <th>Name</th>
                    <th>Message User</th>
                    <th>Delete User</th>
                </tr>

                @foreach (var item in @Model)
            {
                    <tr>
                        <td style="text-decoration:underline;">@Html.ActionLink( @item.UserName, "UserIndex", new{controller="home", id=@item.UserName})</td>
                        <td>@item.FirstName @item.LastName</td>
                        <td><a href="javascript:CreateMessageDialog('@Url.Action("OpenMessageCreate", "Message", new { id = @item.UserName })');">Message User</a></td>
                        <td>@Html.ActionLink("Delete User", "UserDelete", new{controller="Administrator", id=@item.UserName})</td>
                    </tr>
            }
            </table>
            }
            else
            {
                <label  id="lblErrorMsg"  title="Person not fount...!"  style="color:red;">Person not found...!</label>
            }
        }
    }
</div>
<div id='divCreateMessage'>
    <script type="text/javascript">
        function CreateMessageDialog(username) {
            if ($("#dlgMessageCreate").length == 0) {
                // ajax load
                $('#divCreateMessage').load(username);
            } else {
                // clear username & password fields
                $('#Sender, #Heading, #MessageContent').val('');

                // reopen the login dialog which was previously rendered
                $("#dlgMessageCreate").dialog("open");
            }
        }
    </script>
</div>
