﻿@*Both the Create and Reply hit this*@
@model DatingApp.Models.Message

<div id='dlgMessageDelete'>
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Message</legend>
        <input type="hidden" value="@Html.DisplayFor(model => ((DatingApp.Models.Message)ViewData["Message"]).MessageId)" name="MessageId" id="MessageId" />
        <div class="display-label">
             @Html.DisplayNameFor(model => ((DatingApp.Models.Message)ViewData["Message"]).Sender)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => ((DatingApp.Models.Message)ViewData["Message"]).Sender)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => ((DatingApp.Models.Message)ViewData["Message"]).Heading)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => ((DatingApp.Models.Message)ViewData["Message"]).Heading)
        </div>
    </fieldset>
}
</div>
<script type="text/javascript">
    $(function () {
        $('div.ui-dialog-content').dialog('close'),
        $("#dlgMessageDelete").dialog({
            modal: true,
            autoOpen: true,
            resizable: false,
            title: "Are you sure you want to delete this message?",
            height: 450,
            width: 550,
            buttons: {
                Delete: function () {
                    // perform login
                    $.post("@Url.Action("Delete","Message")",
				    {
				        MessageId: $('#MessageId').val(),
				    },
                    //Check to see if it worked
				    function( data, status, xhr ) {
                        if(data.Success){ // If it worked
                            $('#dlgMessageDelete').dialog("close"); // Close popup dialog box
                            alert('Message Deleted!'); // Alert User that the message was sent
                            location.reload(); // Reload the page (this is to update the list of Messages)
                        } else {
                            $('#dlgMessageDelete').dialog('option', 'title', 'Error: Deleting Message'); // change the title from Send Message to Error
                        }
				    });
                },
                Cancel: function () {
                    $(this).dialog("close"); // Closes the window
                }
            },
            open: function (event, ui) {
                $('.ui-icon').removeClass('ui-icon'), @*This line removes the 'X' out of the login dialog Because the X doesn't appear in the box*@  
                
                $("#dlgMessageDelete").keypress(function (e) {@*This function allows users to press the 'Enter' Key and submit the login info *@
                    if (e.keyCode == $.ui.keyCode.ENTER) {
                        $(this).parent().find("button:eq(1)").trigger("click");@*eq(0)=Close button, eq(1)=Send button, eq(2)=cancel button *@
                    }
                });
            }
        });
    });
</script>