﻿@*Both the Create and Reply hit this*@
@model DatingApp.Models.Message

<div id='dlgMessageCreate'>
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Message</legend>
        <input type="hidden" value="@ViewData["UserName"]" name="UserId" id="UserId" />
        <div class="editor-label">
            @Html.LabelFor(model => model.Sender)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sender)
            @Html.ValidationMessageFor(model => model.Sender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Heading)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Heading)
            @Html.ValidationMessageFor(model => model.Heading)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MessageContent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MessageContent)

            @Html.ValidationMessageFor(model => model.MessageContent)
        </div>

    </fieldset>
}
</div>
<script type="text/javascript">
    $(function () {
        $('div.ui-dialog-content').dialog('close'),
        $("#dlgMessageCreate").dialog({
            modal: true,
            autoOpen: true,
            resizable: true,
            title: "Send a Message to @ViewData["UserName"]",
            height: 450,
            width: 550,
            buttons: {
                Send: function () {
                    // perform login
                    $.post("@Url.Action("Create","Message")",
				    {
				        UserName: $('#UserId').val(),
				        Sender: $('#Sender').val(),
				        Heading: $('#Heading').val(),
				        MessageContent: $('#MessageContent').val()
				    },
                    //Check to see if it worked
				    function( data, status, xhr ) {
                        if(data.Success){ // If it worked
                            $('#dlgMessageCreate').dialog("close"); // Close popup dialog box
                            alert('Message Sent!'); // Alert User that the message was sent
                            location.reload(); // Reload the page this is meant for the reply function (this is to update the list of Messages)
                        } else {
                            $('#dlgMessageCreate').dialog('option', 'title', 'Error: Sending Message'); // change the title from Send Message to Error
                        }
				    });
                },
                Cancel: function () {
                    $(this).dialog("close"); // Closes the window
                }
            },
            open: function (event, ui) {
                $('.ui-icon').removeClass('ui-icon'), @*This line removes the 'X' out of the login dialog Because the X doesn't appear in the box*@  
                
                $("#dlgMessageCreate").keypress(function (e) {@*This function allows users to press the 'Enter' Key and submit the login info *@
                    if (e.keyCode == $.ui.keyCode.ENTER) {
                        $(this).parent().find("button:eq(1)").trigger("click");@*eq(0)=Close button, eq(1)=Send button, eq(2)=cancel button *@
                    }
                });
            }
        });
    });
</script>