﻿@model Tuple<List<DatingApp.Models.PeopleSearch>, List<DatingApp.Models.SkeletonSearch>>

<div>
    @*This will become an Advanced search Page Someday*@
    <table>
        <tr>
            @using (Html.BeginForm())
        {  <td>
                <label  id="lblName">Enter Keyword</label></td>
                <td>@Html.TextBox("txtValue")</td>
                <td>
                    <select id="SearchType" name="SearchType" >
                        <option value="People">People</option>
                        <option value="Skeleton">Skeleton</option>
                    </select>
                </td>
                <td><input  id="btnSearch"  type="submit"  value="Search"  /></td>
        }
        </tr>
    </table>
</div>
<div>
    @if (ViewBag.Message ==  true)
    { 
        <label  id="lblMessage"  title="Please enter keyword"  style="color:red;">Please enter keyword...!</label>
    }
    else
    {

    if (@Model != null)
    {
        if (ViewData["searchType"] == null)
        { ViewData["searchType"] = "People"; }
        
        if (@Model.Item1 != null && ViewData["searchType"].ToString() == "People")
        {  
            if (@Model.Item1.Count() != 0)
            {
            <table id="tblSearch">
                <tr>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th>Country</th>
                </tr>

                @foreach (var item in @Model.Item1)
            {
                    <tr>
                        <td style="text-decoration:underline;">@Html.ActionLink( @item.UserName, "UserIndex", new{controller="home", id=@item.UserName})</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Gender</td>
                        <td>@item.City</td>
                        <td>@item.Country</td>
                    </tr>
            }
            </table>
            }
            else
            {
                <label  id="lblErrorMsg"  title="Person not fount...!"  style="color:red;">Person not found...!</label>
            }
        }
        else if (@Model.Item2 != null && ViewData["searchType"].ToString() == "Skeleton")
        {
            if (@Model.Item2.Count() != 0)
                {
                <table id="tblSearch">
                    <tr>
                        <th>User Name</th>
                        <th>Skeleton Type</th>
                        <th>Skeleton Story</th>
                    </tr>

                    @foreach (var item in @Model.Item2)
                {
                        <tr>
                            <td style="text-decoration:underline;">@Html.ActionLink( @item.UserName, "UserIndex", new{controller="home", id=@item.UserName})</td>
                            <td>@item.Genre</td>
                            <td>@item.Story</td>
                        </tr>
                }
            </table>
            }
            else
            {
                <label  id="lblErrorMsg"  title="Skeleton not fount...!"  style="color:red;">Skeleton not found...!</label>
            }
        }
    }
    }
</div>

