﻿@model DatingApp.Models.UserProfile
<div id='dlgAboutMe'>
    @using (Html.BeginForm())
    { 
    <fieldset>
    <legend>About Me</legend>
        @Html.LabelFor(m => m.About)
        @Html.TextAreaFor(m => m.About,new { maxlength = "500", style = "width:90%"}) @*I set the max length to 144 to show properly in the accordion box*@
    </fieldset>
    }
</div>
<script type="text/javascript">
    $(function () {
        $('div.ui-dialog-content').dialog('close'),
        $("#dlgAboutMe").dialog({
            modal: true,
            autoOpen: true,
            resizable: true,
            title: "What is your Story?",
            width: 400,
            buttons: {
                Save: function () {
                    // perform login
                    $.post("@Url.Action("EditAboutMe", "Home")",
				    {
				        About: $('#About').val()
				    },
                    //Check to see if it worked
				    function( data, status, xhr ) {
                        if(data.Success){ // If it worked
                            $('#dlgAboutMe').dialog("close"); // Close popup dialog box
                            location.reload();
                        } else {
                            $('#dlgAboutMe').dialog('option', 'title', 'Error: Uploading Picture'); // change the title from Welcome to Error
                        }
				    });
                },
                Cancel: function () {
                    //$('#dlgUpload').css('overflow', 'hidden'),
                    $(this).dialog("close"); // Closes the window
                }
            },
            open: function (event, ui) {
                //$('#dlgUpload').css('overflow', 'hidden'), //this line hides the horizontal scroll bar
                $('.ui-icon').removeClass('ui-icon') @*This line removes the 'X' out of the login dialog Because the X doesn't appear in the box*@  
                
            }
        });
    });
</script>