﻿@model DatingApp.Models.UserProfile
<div id='dlgBasicInfo'>
    @using (Html.BeginForm())
    { 
    <fieldset>
    <legend>Basic Information</legend>
    <div class="editor-label">
        @Html.LabelFor(m => m.Gender)
        <select id="GenderID" name="Gender" >
        <option value=""></option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Transgender">Transgender</option>
        <option value="Non-Conforming">Non-Conforming</option>
        </select>
    </div>  
    <div class="editor-label">
        @Html.LabelFor(m => m.Ethnicity)
        <select id="EthnicityID" name="Ethnicity" >
        <option value=""></option>
        <option value="Non-Hispanic/White">Non-Hispanic/White</option> @*Non-Hispanic White or Euro-American*@
        <option value="Black, Afro-Caribbean">Black, Afro-Caribbean</option>@*Black, Afro-Caribbean, or African American*@
        <option value="East Asian">East Asian</option>@*East Asian or Asian American*@
        <option value="South Asian">South Asian</option>@*South Asian or Indian American*@
        <option value="Middle Eastern">Middle Eastern</option>@*Middle Eastern or Arab American*@
        <option value="Hawaiian/Pacific Islander">Hawaiian/Pacific Islander</option>
        <option value="Native American, Alaskan Native">Native American, Alaskan Native</option>
        <option value="Other">Other</option>
        </select>
    </div>
    <div class="editor-label">  
        @Html.LabelFor(m => m.City)
        @Html.EditorFor(m => m.City)
        @Html.ValidationMessageFor(m => m.City)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Country)
        @Html.EditorFor(m => m.Country)
        @Html.ValidationMessageFor(m => m.Country)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.PostalCode)
        @Html.EditorFor(m => m.PostalCode)
        @Html.ValidationMessageFor(m => m.PostalCode)
    </div>
    </fieldset>
    }
</div>
<script type="text/javascript">
    $(function () {
        $('div.ui-dialog-content').dialog('close'),
        $("#dlgBasicInfo").dialog({
            modal: true,
            autoOpen: true,
            resizable: false,
            title: "Edit your Basic Information",
            width: 350,
            height: 400,
            buttons: {
                Save: function () {
                    // perform login
                    $.post("@Url.Action("EditBasicInfo", "Home")",
				    {
				        Gender: $('#GenderID').val(),
				        Ethnicity: $('#EthnicityID').val(),
				        City: $('#City').val(),
				        Country: $('#Country').val(),
				        PostalCode: $('#PostalCode').val()
				    },
                    //Check to see if it worked
				    function( data, status, xhr ) {
                        if(data.Success){ // If it worked
                            $('#dlgBasicInfo').dialog("close"); // Close popup dialog box
                            location.reload();
                        } else {
                            $('#dlgBasicInfo').dialog('option', 'title', 'Error: Editing Information'); // change the title from Welcome to Error
                        }
				    });
                },
                Cancel: function () {
                    //$('#dlgUpload').css('overflow', 'hidden'),
                    $(this).dialog("close"); // Closes the window
                }
            },
            open: function (event, ui) {
                //$('#dlgUpload').css('overflow', 'hidden'), //this line hides the horizontal scroll bar
                $('.ui-icon').removeClass('ui-icon'), @*This line removes the 'X' out of the login dialog Because the X doesn't appear in the box*@  
                
                $("#dlgBasicInfo").keypress(function (e) {@*This function allows users to press the 'Enter' Key and submit the login info *@
                    if (e.keyCode == $.ui.keyCode.ENTER) {
                        $(this).parent().find("button:eq(1)").trigger("click");@*eq(0)=Close button, eq(1)=Login button, eq(2)=cancel button *@
                    }
                });
            }
        });
    });
</script>