﻿@model DatingApp.Models.Skeleton

<div id='dlgSkeleton'>
    @using (Html.BeginForm())
    { 
    <fieldset>
    <legend>About Me</legend>
        <input type="hidden" value="@ViewData["Level"]" name="Level" id="Level" />
        <div class="editor-label">
            @Html.LabelFor(m => m.Genre)
            @Html.TextBoxFor(m => m.Genre,new { maxlength = "100", style = "width:90%"})
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Story)
            @Html.TextAreaFor(m => m.Story,new { maxlength = "300", style = "width:90%"})
        </div>
    </fieldset>
    }
</div>
<script type="text/javascript">
    $(function () {
        $('div.ui-dialog-content').dialog('close'),
        $("#dlgSkeleton").dialog({
            modal: true,
            autoOpen: true,
            resizable: true,
            title: "What is your Secret?",
            width: 400,
            buttons: {
                Save: function () {
                    $.post("@Url.Action("AddSkeleton", "Home")",
				    {
				        Level: $('#Level').val(),
				        Genre: $('#Genre').val(),
				        Story: $('#Story').val()
				    },
                    //Check to see if it worked
				    function( data, status, xhr ) {
                        if(data.Success){ // If it worked
                            $('#dlgSkeleton').dialog("close"); // Close popup dialog box
                            alert('Skeleton has been uploaded! Now Pending Approval.'); // Alert User that the Skeleton has been posted
                        } else {
                            $('#dlgSkeleton').dialog('option', 'title', 'Error: Uploading Skeleton'); // change the title from Welcome to Error
                        }
				    });
                },
                Cancel: function () {
                    $(this).dialog("close"); // Closes the window
                }
            },
            open: function (event, ui) {
                //$('#dlgSkeleton').css('overflow', 'hidden'), //this line hides the horizontal scroll bar
                $('.ui-icon').removeClass('ui-icon') @*This line removes the 'X' out of the login dialog Because the X doesn't appear in the box*@  
                
            }
        });
    });
</script>