﻿<div id='dlgUpload'>
    @using (Html.BeginForm("ProfilePictureUpload", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 

     <input type="file" name="FileUpload" id="fileupload" /><br />
     <input type="submit" name="Submit" id="Submit" value="Upload" />
    }
</div>
<script type="text/javascript">
    $(function () {
        $('div.ui-dialog-content').dialog('close'),
        $("#dlgUpload").dialog({
            modal: true,
            autoOpen: true,
            resizable: false,
            title: "Upload A Profile Picture!",
            width: 400,
            open: function (event, ui) {
                $('.ui-icon').removeClass('ui-icon'), @*This line removes the 'X' out of the login dialog Because the X doesn't appear in the box*@  
                
                $("#dlgUpload").keypress(function (e) {@*This function allows users to press the 'Enter' Key and submit the login info *@
                    if (e.keyCode == $.ui.keyCode.ENTER) {
                        $(this).parent().find("button:eq(1)").trigger("click");@*eq(0)=Close button, eq(1)=Login button, eq(2)=cancel button *@
                    }
                });
            }
        });
    });
</script>
