﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title BareMyBones.com</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        @*Added Jquery bundles to Master used with datepicker *@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")

        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <script>
            $(function () {
                $("#accordion").accordion();
            });
        </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left" style="padding-top:14px; padding-left:31px;"><a href="http://lccwebdev.net/cs297p/baremybones/">
                    <img width="600px" src="~/Images/logo_01.png" /></a></div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            @if (User.Identity.Name != null) { @*Check To see if there is a User logged in*@
                            <li>@Html.ActionLink("Home", "UserIndex", new{controller="Home", id=User.Identity.Name}) &nbsp&nbsp | </li> @*User Profile needs a username as a parameter*@
                            }
                            else
                            {
                            <li>@Html.ActionLink("Home", "UserIndex", "Home") &nbsp&nbsp |</li>@*If they are not logged in, the [authorized] will catch it and make them login*@
                            }
                            
                            <li>@Html.ActionLink("Messages", "Index", "Message") &nbsp&nbsp |</li>
                            <li>@Html.ActionLink("Search", "Index", "Search")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year Lane Community College</p>
                    <p> @if (Roles.IsUserInRole("Administrators") || Roles.IsUserInRole("Moderator"))
                        {
                            @Html.ActionLink("Bare My Bones Site Administration", "Index","Administrator")
                        }
                    </p>
                </div>
            </div>
        </footer>
        @*Please show my changes bitbucket!*@
        @Styles.Render("~/Content/themes/base/css", "~/Content/css")
        @RenderSection("scripts", required: false)
    </body>
</html>
