﻿<div id='dlgLogin'>
    <h1>Login</h1>
    <table>
        <tr>
            <td>Username:</td>
            <td>@Html.TextBox("username")</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>@Html.Password("password")</td>
        </tr>
        <tr>
            <td></td>
            <td>Remember Me?: @Html.CheckBox("rememberMe")</td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(function () {
        $('div.ui-dialog-content').dialog('close'),
        $("#dlgLogin").dialog({
            modal: true,
            autoOpen: true,
            resizable: false,
            title: "Welcome!",
            height: 350,
            width: 500,
            buttons: {
                Login: function () {
                    // perform login
                    $.post("@Url.Action("MainLogin", "Account")",
				    {
					    username: $('#username').val(),
					    password: $('#password').val(),
				        rememberMe: $('#rememberMe').val()
				    },
                    //Check to see if it worked
				    function( data, status, xhr ) {
                        if(data.Success){ // If it worked
                            $('#dlgLogin').dialog("close"); // Close popup dialog box
                            $('#divLoginButton').load("@Url.Action("GetLoginButton", "Account")"); // change the login controls at the top of the site
                            location = 'Home/UserIndex/' + $('#username').val(); // then redirect to user page (Perhaps this is risky because I take the value out of the textbox directly)
                                                                                  // But then again you wouldn't have got this far without it passing...
                        } else {
                            $('#dlgLogin').dialog('option', 'title', 'Error: Wrong Username or Password'); // change the title from Welcome to Error
                        }
				    });
                },
                Cancel: function () {
                    $(this).dialog("close"); // Closes the window
                }
            },
            open: function (event, ui) {
                $('.ui-icon').removeClass('ui-icon'), @*This line removes the 'X' out of the login dialog Because the X doesn't appear in the box*@  
                
                $("#dlgLogin").keypress(function (e) {@*This function allows users to press the 'Enter' Key and submit the login info *@
                    if (e.keyCode == $.ui.keyCode.ENTER) {
                        $(this).parent().find("button:eq(1)").trigger("click");@*eq(0)=Close button, eq(1)=Login button, eq(2)=cancel button *@
                    }
                });
            }
        });
    });
</script>

